<h1 class="text-center"><%= @cocktail.name %></h1>

<div class="cocktail-display">
  <div class="dose-form">
    <%= render 'doses/form' %>
  </div>
  <div class="doses">
    <h3>Recipe</h3>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <p>
            <%= dose.ingredient.name %> (<%= dose.description %>)
            <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
              <%= icon('far', 'trash-alt') %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="text-center">
  <%= link_to "Back to all cocktails", cocktails_path, class: "btn btn-info"  %>
</div>
